<div class="wrapper">
 
    <!-- Sidebar -->
    <nav [ngClass]="['sidebar', sideNavService.getUserMenuVisibilityClass()]">
 
        <!-- close sidebar menu -->
        <div class="dismiss" (click)="sideNavService.toggleUserMenu()">
            <fa-icon [icon]="['far','window-close']"></fa-icon>
        </div>
        <div class="logo">
            <h3>User Menu</h3>
        </div>
        <ul class="list-unstyled menu-elements">
            <li>
                <a class="scroll-link" (click)="gridViewService.changeGridViewType()"> List / Table View</a>
            </li>
            <li>
                <a class="scroll-link" (click)="slidePopService.triggerSlideShow()"> Start Random Slideshow</a>
            </li>
            <li>
                <a *ngIf="sideNavService.isInGallery" class="scroll-link" routerLink="/addimage" (click)="sideNavService.toggleIsGallery()"> Import images</a>
                <a *ngIf="!sideNavService.isInGallery" class="scroll-link" routerLink="/gallery" (click)="sideNavService.toggleIsGallery()"> Gallery</a>
            </li>
            
        </ul>
    </nav>
    <!-- End sidebar -->
 
    <!-- Dark overlay -->
    <div [ngClass]="['overlay', sideNavService.getUserMenuVisibilityClass()]"></div>
    <app-slide-show></app-slide-show>
    <!-- Content -->
    <div class="content">
 
        <!-- open sidebar menu -->
        <a class="btn btn-primary btn-customized open-menu" (click)="sideNavService.toggleUserMenu()">
            <fa-icon [icon]="['fas', 'user']"></fa-icon>
        </a>
 
        <!-- ... -->
 
        <!-- here is the page's content (not shown here) -->
 
        <!-- ... -->
 
    </div>
    <!-- End content -->
 
</div>
<!-- End wrapper -->