<section class="u-clearfix u-section-1" id="sec-7768">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-form u-form-1">
        <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
          <div class="u-form-checkbox u-form-group">
            <input type="checkbox" [checked]="isCameraAllowed" (change)="getCameraAccess()" (click)="canChangeCamera($event)" name="cameraAccess" class="u-block-1184-6 u-border-1 u-border-grey-30 u-input-rectangle u-white" >
            <label for="name-8a2c" class="u-label u-label-1">Allow camera access</label>
          </div>
          <div class="u-form-checkbox u-form-group">
            <input type="checkbox" [checked]="isLocationAllowed" (change)="getLocationAccess()" (click)="canChangeLocation($event)" name="locationAccess" class="u-block-1184-9 u-border-1 u-border-grey-30 u-input-rectangle u-white" >
            <label for="email-8a2c" class="u-label u-label-2">Allow device location</label>
          </div>
          <div class="u-form-checkbox u-form-group">
            <input [checked]="isPrivateAllowed" (change)="privateAccessChanged($event)" rows="4" cols="50" class="u-block-1184-12 u-border-1 u-border-grey-30 u-input-rectangle u-white" required="required" type="checkbox">
            <label for="message-8a2c" class="u-label u-label-3">Allow private mode</label>
          </div>
          <div class="u-form-group u-form-group-4">
            <label  class="u-form-control-hidden u-label u-label-4"></label>
            <input type="text" [(ngModel)]="password" (input)="clearPasswordBox($event)" placeholder="Private Password"  name="password" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
          </div>
          <div class="u-align-center u-form-group u-form-submit">
            <a routerLink="/library" class="u-btn u-btn-submit u-button-style">Next<br>
            </a>
          </div>
        </form>
      </div>
    </div>
  </section>