 body {
	 background: linear-gradient(rgba(30, 27, 38, 0.95), rgba(30, 27, 38, 0.95)), url("https://i.ibb.co/FDGqCmM/papers-co-ag74-interstellar-wide-space-film-movie-art-33-iphone6-wallpaper.jpg");
	 background-position: center;
	 background-size: cover;
	 background-repeat: repeat;
}
 .container {
	 width: 100%;
	 height: 100%;
}
 .menu {
	 position: absolute;
	 right: 12px;
	 top: 6px;
     width:20px;
     align-content: center;
     text-align:center;
	 z-index: 999;
     border-color: black;
     border-style: solid;
}
.menu:hover{
    background-color: white;
    color:black;
    cursor:pointer;
}
 .menu .iconInfo {
	 font-size: 20px;
	 filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, .5));
}
 .movie-img {
	 width: 338px;
	 height: 200px;
	 background-image: url(https://i.ibb.co/FDGqCmM/papers-co-ag74-interstellar-wide-space-film-movie-art-33-iphone6-wallpaper.jpg);
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;
	 z-index: 111 !important;
	 border-top-left-radius: 4px;
	 border-top-right-radius: 4px;
	 -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 1)), color-stop(0.35, rgba(0, 0, 0, 1)), color-stop(0.5, rgba(0, 0, 0, 1)), color-stop(0.65, rgba(0, 0, 0, 1)), color-stop(0.85, rgba(0, 0, 0, 0.6)), color-stop(1, rgba(0, 0, 0, 0)));
	 position: relative;
}
.movie-img-list{
    width: 500px;
    height: 200px;
    background-image: url(https://i.ibb.co/FDGqCmM/papers-co-ag74-interstellar-wide-space-film-movie-art-33-iphone6-wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 111 !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 1)), color-stop(0.35, rgba(0, 0, 0, 1)), color-stop(0.5, rgba(0, 0, 0, 1)), color-stop(0.65, rgba(0, 0, 0, 1)), color-stop(0.85, rgba(0, 0, 0, 0.6)), color-stop(1, rgba(0, 0, 0, 0)));
    position: relative;
}
 .movie {
	background-color: lightgray;
	 position: absolute;
	 background-size: contain;
	 background-size: cover;
	 z-index: 1 !important;
	 width: 338px;
	 height: 290px;
	 display: block;
	 border-radius: 4px;
}
.movie-list {
	background-color: lightgray;
	 position: absolute;
	 background-size: contain;
	 background-size: cover;
	 z-index: 1 !important;
	 width: 500px;
	 height: 290px;
	 display: block;
	 border-radius: 4px;
}
.title{
    color: black;
    font-size: 3vw;
}
 .text-movie-cont {
	 padding: 0px 12px;
	 text-align: justify;
}
 .action-btn {
	 text-align: center;
}
 .action-btn i {
	 color: #fe4141;
	 font-size: 28px;
	 text-align: right;
}
 .action-row {
	 margin-top: 5px;
}
/* TYPOGRAPHY STARTS */
/* Fonts */
 h1, h2, h3, h4, h5 {
	 font-family: 'Montserrat', sans-serif;
	 color: #e7e7e7;
	 margin: 0px;
}
 h1 {
	 font-size: 36px;
	 font-weight: 400;
}

/* TYPOGRAPHY ENDS */
/** GRID STARTS **/
 .thegrid {
	 margin: 0 auto;
}
 .elements-distance, .movie-details, .movie-description, .movie-actors {
	 margin: 0px;
}
 .mr-grid {
	 width: 100%;
}
 .mr-grid:before, .mr-grid:after {
	 content: "";
	 display: table;
}
 .mr-grid:after {
	 clear: both;
}
 .mr-grid {
	 *zoom: 1;
}
 .col1, .col2, .col3, .col3rest, .col4, .col4rest, .col5, .col5rest, .col6, .col6rest {
	 margin: 0% 0.5% 0.5% 0.5%;
	 padding: 1%;
	 float: left;
	 display: block;
}
/* Columns match, minus margin sum. E.G. margin-left+margin-right=1%, col2=50%-1% - added padding:1%*/
 .col1 {
	 width: 98%;
}
 .col2 {
	 width: 47%;
}
 .col3 {
	 width: 30.3333333333%;
}
 .col4 {
	 width: 22%;
}
 .col5 {
	 width: 17%;
}
 .col6 {
	 width: 13.6666666667%;
}
/* Columns match with their individual number. E.G. col3+col3rest=full width row */
 .col3rest {
	 width: 63.6666666667%;
}
 .col4rest {
	 width: 72%;
}
 .col5rest {
	 width: 77%;
}
 .col6rest {
	 width: 80.3333333333%;
}
select{
    height:20px;
    width:100px;
}
 .dribbble-link {
	 width: 50px;
	 height: 50px;
	 position: fixed;
	 bottom: 15px;
	 right: 15px;
	 border-radius: 50px;
}
 
@media (max-width: 1199px) {
    .movie-img {
        width: 301px;
        height: 190px;
        background-image: url(https://i.ibb.co/FDGqCmM/papers-co-ag74-interstellar-wide-space-film-movie-art-33-iphone6-wallpaper.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 111 !important;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 1)), color-stop(0.35, rgba(0, 0, 0, 1)), color-stop(0.5, rgba(0, 0, 0, 1)), color-stop(0.65, rgba(0, 0, 0, 1)), color-stop(0.85, rgba(0, 0, 0, 0.6)), color-stop(1, rgba(0, 0, 0, 0)));
        position: relative;
   }
    .movie {
       background-color: lightgray;
        position: absolute;
        background-size: contain;
        background-size: cover;
        z-index: 1 !important;
        width: 301px;
        height: 280px;
        display: block;
        border-radius: 4px;
   }
   
}

@media (max-width: 767px) {
    .movie-img {
        width: 250px;
        height: 180px;
        background-image: url(https://i.ibb.co/FDGqCmM/papers-co-ag74-interstellar-wide-space-film-movie-art-33-iphone6-wallpaper.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 111 !important;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 1)), color-stop(0.35, rgba(0, 0, 0, 1)), color-stop(0.5, rgba(0, 0, 0, 1)), color-stop(0.65, rgba(0, 0, 0, 1)), color-stop(0.85, rgba(0, 0, 0, 0.6)), color-stop(1, rgba(0, 0, 0, 0)));
        position: relative;
   }
    .movie {
       background-color: lightgray;
        position: absolute;
        background-size: contain;
        background-size: cover;
        z-index: 1 !important;
        width: 250px;
        height: 260px;
        display: block;
        border-radius: 4px;
   }
   
}
@media (max-width: 575px) {
    select{
        width:70px
    }
    .movie-img {
        width: 150px;
        height: 150px;
        background-image: url(https://i.ibb.co/FDGqCmM/papers-co-ag74-interstellar-wide-space-film-movie-art-33-iphone6-wallpaper.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 111 !important;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 1)), color-stop(0.35, rgba(0, 0, 0, 1)), color-stop(0.5, rgba(0, 0, 0, 1)), color-stop(0.65, rgba(0, 0, 0, 1)), color-stop(0.85, rgba(0, 0, 0, 0.6)), color-stop(1, rgba(0, 0, 0, 0)));
        position: relative;
   }
    .movie {
       background-color: lightgray;
        position: absolute;
        background-size: contain;
        background-size: cover;
        z-index: 1 !important;
        width: 150px;
        height: 230px;
        display: block;
        border-radius: 4px;
   }
   .movie-img-list{
    width: 350px;
    height: 200px;
    background-image: url(https://i.ibb.co/FDGqCmM/papers-co-ag74-interstellar-wide-space-film-movie-art-33-iphone6-wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 111 !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 1)), color-stop(0.35, rgba(0, 0, 0, 1)), color-stop(0.5, rgba(0, 0, 0, 1)), color-stop(0.65, rgba(0, 0, 0, 1)), color-stop(0.85, rgba(0, 0, 0, 0.6)), color-stop(1, rgba(0, 0, 0, 0)));
    position: relative;
}
.movie-list {
	background-color: lightgray;
	 position: absolute;
	 background-size: contain;
	 background-size: cover;
	 z-index: 1 !important;
	 width: 350px;
	 height: 290px;
	 display: block;
	 border-radius: 4px;
}
   
}