<div class="about-section">
    <h1>About Us Page</h1>
    <p>Ofek Shaked Full Stack developer</p>
    <p>Photo gallery website</p>
  </div>
  
  <h2 class="center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../../../../assets/ofek.jpeg" alt="Ofek">
        <div class="container">
          <h2>Ofek Shaked</h2>
          <p class="title">CEO & Founder</p>
          <p>Creator</p>
          <p>ofekshaked1999@gmail.com</p>
        </div>
      </div>
    </div>
  </div>